.input {
    margin: 2rem auto;
    padding: 1rem;
    width: 75%;
    max-width: 30rem;
}

.text{
    color: red;
}

.input h1{
    text-align: center;
}

.input label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .input input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .input input:focus {
    outline: none;
    border-color: #4f005f;
  }

.contain {
    margin: 10rem auto;
    height: 355px;
    max-width: 25rem;
    border-radius: 10px;
    background-color: #2c1f35;
    box-shadow: 0 1px 4px rgba(219, 81, 81, 0.2);
    padding: 1rem;
    text-align: center;
    color: white;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control input {
    height: 28px;
    width: 90%;
    position: relative;
    /* border: 10px; */
    border-radius: 4px;
    font-size: 15px;
  }
  
  .toggle {
    /* margin-top: 1.5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .toggle .btn{
    cursor: pointer;
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  /* .toggle .btn:hover{
    background-color: #630f9b;
    border-color: #540c85;
  } */
  
  .toggle button {
     cursor: pointer;
    font: inherit;
    color: white;
    background-color: #9f5ccc;
    border: 1px solid #9f5ccc;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  .toggle button:hover {
    background-color: #980ef3;
    border-color: #540c85;
  }
  
  .toggle .actions {
    /* margin-top: rem; */
    background-color: transparent;
    color: #decceb;
    border: none;
    padding: 0.15rem 1.5rem;
  }
  
  .toggle .actions:hover {
    background-color: transparent;
    color: #850fdf;
  }
  